.description {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    font-family: "Comic Sans MS";
    font-size: 20px;
    text-align: center;
}
.layout {
    display: grid;
    grid-template-columns: repeat(3, 400px); /* 3 columns, each 400px wide */
    grid-auto-rows: auto;
    grid-column: auto;
    gap: 24px;
    min-height: 1svh;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-evenly;
}

.layout a{
    text-align: center;
}

.name {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    font-family: "Comic Sans MS";
}

.section {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
    text-align: center;
  }

  .url:hover {
    text-size-adjust: 48;
    color:blue;
}


/* wrapper for the visual element (Alloy or Image) to ensure it's centered */
.visual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 6px;
}
