.layout {
    display: flex;
    grid-column: auto;
    min-height: 75svh;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-evenly;
}

.layout a{
    text-align: center;
}

.name {
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.map {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center; 
    width: 400px; 
    text-align: center; 
  }

  .url:hover {
    text-size-adjust: 48;
    color:blue;
}