.description {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    font-family: "Comic Sans MS";
    font-size: 20px;
    text-align: center;
}
.layout {
    display: flex;
    grid-column: auto;
    min-height: 100svh;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-evenly;
}

.layout a{
    text-align: center;
}

.name {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    font-family: "Comic Sans MS";
}

.map {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
    text-align: center;
  }

  .url:hover {
    text-size-adjust: 48;
    color:blue;
}
