.layout {
    display: flex;
    grid-column: auto;
    min-height:100svh;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-evenly;
    align-items: center;
}

.name {
    display: flex;
    padding-top: 12px;
    justify-content: center;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    font-family: "Comic Sans MS";
}
