.layout {
    display: flex;
    grid-column: auto;
    min-height:75svh;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-evenly;
    align-items: center;
}

.name {
    display: flex;
    padding-top: 12px;
    justify-content: center;
}