.layout {
    display: flex;
    grid-column: auto;
    min-height: 100svh;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-evenly;
}

.name {
    display: flex;
    padding-top: 12px;
    justify-content: center;
}