.container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 10px;
}

.links:hover {
    color:blue;
}

.links{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    font-family: "Comic Sans MS";
}
